.page-container .header {
  padding: 20px 40px;
}

.page-container .main {
  padding: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.main {
  background: var(--greylight);
  font-size: 14px;
  height: calc(100vh - 86px);
}

.action {
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
}

.action:hover {
  background: var(--greylight);
}

.btn-add {
  background: var(--red);
  color: var(--white);
  width: 40px;
  height: 40px;
  border: unset;
  border-radius: 20px;
  font-size: 25px;
}

.table-responsive {
  min-height: 300px;
}
