<div class="page-container">
  <div class="header">
    <h2>Users</h2>
    <button class="btn-add" (click)="onClickAddUser()">+</button>
  </div>
  <div class="main">
    <div class="table-responsive">
      <table class="table mb-0">
        <thead>
          <tr>
            <th scope="col" width="80">Actions</th>
            <th scope="col" width="80">User Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Role</th>
            <th scope="col">Location</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <i class="fas fa-pencil-alt text-success action mx-1"></i>
              <i class="fas fa-trash-alt text-danger action mx-1"></i>
            </td>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>

          <tr>
            <td>
              <i class="fas fa-pencil-alt text-success action mx-1"></i>
              <i class="fas fa-trash-alt text-danger action mx-1"></i>
            </td>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>